# --- OS Spécifique (Mac) ---
.DS_Store
.AppleDouble
.LSOverride

# --- Données Lourdes (Spécifique à ton projet) ---
# On ignore le dossier de données pour éviter de saturer GitHub
GestureData_Mons/

# --- Environnements Virtuels (Python) ---
.venv/
venv/
ENV/
env/
bin/
lib/
include/

# --- Cache et Compilations ---
**/__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- Configuration VSCode ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# --- Fichiers de logs et temporaires ---
*.log
.env
.cache/